/* font family - Readex Pro*/
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap');

/* * {
    font-family: "Readex Pro";
} */

/* polygon dashboard */
div.css-12w0qpk.e1tzin5v2 {
    display: flex;
    justify-content: space-between;
    background-color: #1c1b1a;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

/* country capital */
div.css-keje6w.e1tzin5v2 {
    display: flex;
    justify-content: space-between;
    background-color: #1c1b1a;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

/* countries dashboards */
div.css-1r6slb0.e1tzin5v2 {
    display: flex;
    justify-content: space-between;
    background-color: #1c1b1a;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

/* links */
a {
    text-decoration: none;
    color: "#1e7ebb" !important;
    font-weight: 500;
}

/* on hovering over link */
a:hover {
    color: #d33682 !important;
    text-decoration: none;
}

/* bullet points of unordered list */
ul {
    list-style-type: none;
}

/* divider */
hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

/* hide the boilerplate design by streamlit */

/* hide the hamburger menu */
#MainMenue {
    visibility: hidden;
}

/* hide the streamlit footer */
footere {
    visibility: hidden;
}

/* hide streamlit header divider */
headere {
    visibility: hidden;
}